<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speaking in Code</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .imgbox {
      display: grid;
      height: 100%;
    }

    .center-fit {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
    }
  </style>

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap" rel="stylesheet">

  

</head>

<body>


  <div class="imgbox"><img class="center-fit" src="/images/blog-header.png"></div>
  <div class="flex-column justify-space-around">

    <div class="topnav">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if logged_in}}
      <a href="#" id="logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}

      {{!-- <input type="text" placeholder="Search.." name="search"> --}}

    </div>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('a').each(function () {
        if ($(this).prop('href') == window.location.href) {
          $(this).addClass('active'); $(this).parents('li').addClass('active');
        }
      });
    });
  </script>
</body>

</html>