<h1>Create a New Post</h1>
<label for="bp-title-input">Post Title:</label><br />
<textarea
  type="text"
  name="bp-title-input"
  id="bp-title-input"
  placeholder="Create a post title."
  style="width:700px; height:50px;"
></textarea><br /><br />
<label for="bp-content-input">Post Content:</label><br />
<textarea
  type="text"
  name="bp-content-input"
  id="bp-content-input"
  placeholder="Speak your mind here."
  style="width:700px; height:300px;"
></textarea><br />

<a href="/dashboard/{{id}}"><button
    class="btn btn-sm"
    id="blogpost-submit"
  >Submit</button></a>

<script src="/js/blogpost-submit.js"></script>