<h1>Talkin' Tech Blog</h1>
<label for="bp-title-input">Post Title:</label><br>
<input type="text" name="bp-title-input" id="bp-title-input"><br><br>
<label for="bp-content-input">Post Content:</label><br>
<textarea type="text" name="bp-content-input" id="bp-content-input" placeholder="Speak your mind here." style="width:700px; height:300px;"></textarea><br>

<button id="blogpost-submit">Submit</button>

 <script src="/js/blogpost-submit.js"></script>

















<!--<section class="blogs-section">
    <div class="blog-card">
        <h1 class="blog-title">Blog Title.</h1>
        <p class="blog-overview">Blogpost Content Here</p>
        <a href="/" class="btn dark">read</a>
    </div>
</section>-->