<h1>Hello {{login.user}} here are your post</h1>

<!--Loop over each object in the blogpost array and find by user id-->
{{#each blogposts}}
  <div class="row mb-4 project" "blog-post">
    <div class="col-md-5">
    <h2>{{title}}</h2>
     <p>{{content}}</p> 
      <p>Created by {{user.name}}</p>
    </div>
</div>
{{/each}}

<div class="form-group" style="margin-bottom: 20px;">

  <form>
    <button
      class="btn btn-danger"
      type="submit"
      formaction="/blogpost"
      style="margin-top: 20px; font-size: 30px; align-items: center;"
    >+ New Post</button>
  </form>
</div>