<h1>Welcome, let's talk coding.</h1>

<!--Loop over each object in the blogpost array-->
{{#each blogposts as |blogpost|}}
  <div class="row mb-4 project blog-post">


    <div class="col-md-5 card">

      <a href="/postpreview/{{id}}"><h2>{{title}}</h2></a>          


      <p>{{content}}</p>           


      <p class="attribute">Created by: {{user.name}}</p>
    </div>
  </div>
{{/each}}

<div class="form-group" style="margin-bottom: 20px;">





  <form>
    <button class="btn btn-sm" type="submit" formaction="/blogpost">+ New Post</button>
  </form>
</div>